In [2]:
#Analizando un DataFrame (csv)
import polars as pl
##Leyendo el csv
df01=pl.read_csv(
    source='D:/CURSOS/ADDC_Python_For_ETL/Sesion01/CLASE02/ReporteVentas.csv',separator=';'
)

In [4]:
df01.head()

shape: (5, 10)
┌─────────┬───────────┬─────────────┬──────────┬───┬────────────┬────────────┬──────────┬──────────┐
│ Factura ┆ ClienteID ┆ Cliente     ┆ Tienda   ┆ … ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio   │
│ ---     ┆ ---       ┆ ---         ┆ ---      ┆   ┆ Entrega    ┆ ---        ┆ ---      ┆ ---      │
│ i64     ┆ i64       ┆ str         ┆ str      ┆   ┆ ---        ┆ str        ┆ i64      ┆ f64      │
│         ┆           ┆             ┆          ┆   ┆ str        ┆            ┆          ┆          │
╞═════════╪═══════════╪═════════════╪══════════╪═══╪════════════╪════════════╪══════════╪══════════╡
│ 55275   ┆ 30000     ┆ James McCoy ┆ ModCloth ┆ … ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.1722 │
│         ┆           ┆             ┆          ┆   ┆            ┆ Mountain   ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆          │
│ 59064   ┆ 30050     ┆ Krishna Sun ┆ GameStop ┆ … ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.1722 │
│         ┆           ┆ kammurali   ┆          ┆   ┆            ┆ Mountain   ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆          │
│ 65321   ┆ 29487     ┆ Humberto    ┆ Amazon   ┆ … ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.454  │
│         ┆           ┆ Acevedo     ┆          ┆   ┆            ┆ Mountain   ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Silver, 42 ┆          ┆          │
│ 57066   ┆ 29586     ┆ David Brink ┆ Alibaba  ┆ … ┆ 2024-03-09 ┆ Women's    ┆ 4        ┆ 48.7435  │
│         ┆           ┆             ┆          ┆   ┆            ┆ Tights, S  ┆          ┆          │
│ 71691   ┆ 29676     ┆ Peter       ┆ Alibaba  ┆ … ┆ 2024-10-06 ┆ Women's    ┆ 2        ┆ 48.7435  │
│         ┆           ┆ Connelly    ┆          ┆   ┆            ┆ Tights, S  ┆          ┆          │
└─────────┴───────────┴─────────────┴──────────┴───┴────────────┴────────────┴──────────┴──────────┘

In [10]:
df01.select(
    "Factura","Pais","Tienda","Precio",
    pl.col("Pais").str.slice(offset=0,length=3).alias("Pais2"),
    pl.col("Precio").cast(pl.Float64).round(2).alias("Precio2")
).head()

shape: (5, 6)
┌─────────┬────────────────┬──────────┬──────────┬───────┬─────────┐
│ Factura ┆ Pais           ┆ Tienda   ┆ Precio   ┆ Pais2 ┆ Precio2 │
│ ---     ┆ ---            ┆ ---      ┆ ---      ┆ ---   ┆ ---     │
│ i64     ┆ str            ┆ str      ┆ f64      ┆ str   ┆ f64     │
╞═════════╪════════════════╪══════════╪══════════╪═══════╪═════════╡
│ 55275   ┆ Canada         ┆ ModCloth ┆ 211.1722 ┆ Can   ┆ 211.17  │
│ 59064   ┆ United Kingdom ┆ GameStop ┆ 211.1722 ┆ Uni   ┆ 211.17  │
│ 65321   ┆ United States  ┆ Amazon   ┆ 218.454  ┆ Uni   ┆ 218.45  │
│ 57066   ┆ Germany        ┆ Alibaba  ┆ 48.7435  ┆ Ger   ┆ 48.74   │
│ 71691   ┆ Germany        ┆ Alibaba  ┆ 48.7435  ┆ Ger   ┆ 48.74   │
└─────────┴────────────────┴──────────┴──────────┴───────┴─────────┘

In [15]:
#Agrupando datos
"""Se desea saber cuantas factura hubo por cada fecha de pedido"""
df01.group_by(
    by="Fecha Pedido"
).agg(
    pl.col("Factura").count()
).sort(
    by="Factura", descending=True
).head(
    6
)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8492\2762609979.py:3: DeprecationWarning: named `by` param is deprecated; use positional `*args` instead.
  df01.group_by(

shape: (6, 2)
┌──────────────┬─────────┐
│ Fecha Pedido ┆ Factura │
│ ---          ┆ ---     │
│ str          ┆ u32     │
╞══════════════╪═════════╡
│ 2024-02-28   ┆ 3273    │
│ 2024-03-30   ┆ 3202    │
│ 2024-10-01   ┆ 3126    │
│ 2024-08-31   ┆ 3065    │
│ 2024-06-29   ┆ 2347    │
│ 2024-05-31   ┆ 2267    │
└──────────────┴─────────┘

In [18]:
"""Se desea saber la venta promedio de cada pais"""
df01.group_by(
    by="Pais"
).agg(
    pl.col("Precio").mean()
).sort(
    by="Pais", descending=False
).head(
    6
)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8492\2213734399.py:2: DeprecationWarning: named `by` param is deprecated; use positional `*args` instead.
  df01.group_by(

shape: (6, 2)
┌────────────────┬────────────┐
│ Pais           ┆ Precio     │
│ ---            ┆ ---        │
│ str            ┆ f64        │
╞════════════════╪════════════╡
│ Australia      ┆ 392.638377 │
│ Canada         ┆ 234.092973 │
│ France         ┆ 333.834728 │
│ Germany        ┆ 353.917047 │
│ United Kingdom ┆ 347.573597 │
│ United States  ┆ 334.790297 │
└────────────────┴────────────┘

In [23]:
"""Se desea saber las ventas total de cada pais de cada tienda"""
df01.group_by(
    by=["Pais","Tienda"]
).agg(
    (pl.col("Unidades")*pl.col("Precio")).sum().alias("Ventas")
).sort(
    by="Pais", descending=True
).head(
    6
)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8492\3179071569.py:2: DeprecationWarning: named `by` param is deprecated; use positional `*args` instead.
  df01.group_by(

shape: (6, 3)
┌────────────────┬───────────┬──────────┐
│ Pais           ┆ Tienda    ┆ Ventas   │
│ ---            ┆ ---       ┆ ---      │
│ str            ┆ str       ┆ f64      │
╞════════════════╪═══════════╪══════════╡
│ United States  ┆ Walmart   ┆ 5.9977e6 │
│ United States  ┆ Mr Porter ┆ 7.9802e6 │
│ United States  ┆ Amazon    ┆ 1.6547e6 │
│ United States  ┆ Zappos    ┆ 1.7984e6 │
│ United States  ┆ Ebay      ┆ 2.1349e6 │
│ United Kingdom ┆ GameStop  ┆ 3.9047e6 │
└────────────────┴───────────┴──────────┘

In [31]:
#Redefiniento mis tipos de datos
df01=df01.cast(
    {
        "Factura": pl.Utf8,
        "Fecha Pedido": pl.Date,
        "Fecha Entrega": pl.Date,
        "Unidades": pl.Int8,
        "Precio": pl.Float32
    }
)
df01.head(3)

shape: (3, 10)
┌─────────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ Factura ┆ ClienteID ┆ Cliente    ┆ Tienda   ┆ … ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio    │
│ ---     ┆ ---       ┆ ---        ┆ ---      ┆   ┆ Entrega    ┆ ---        ┆ ---      ┆ ---       │
│ str     ┆ i64       ┆ str        ┆ str      ┆   ┆ ---        ┆ str        ┆ i8       ┆ f32       │
│         ┆           ┆            ┆          ┆   ┆ date       ┆            ┆          ┆           │
╞═════════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ 55275   ┆ 30000     ┆ James      ┆ ModCloth ┆ … ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.17219 │
│         ┆           ┆ McCoy      ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 59064   ┆ 30050     ┆ Krishna    ┆ GameStop ┆ … ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.17219 │
│         ┆           ┆ Sunkammura ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆ li         ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 65321   ┆ 29487     ┆ Humberto   ┆ Amazon   ┆ … ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.45399 │
│         ┆           ┆ Acevedo    ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 42 ┆          ┆           │
└─────────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

In [39]:
"""Se desea tener las ventas promedio de cada mes de Fecha Pedido"""
df01.group_by(
    pl.col("Fecha Pedido").dt.month().alias("Nro Mes")
).agg(
    (pl.col("Unidades")*pl.col("Precio")).mean().alias("Ventas")
).sort(
    by="Nro Mes", descending=False
).head(
    6
)

shape: (6, 2)
┌─────────┬────────────┐
│ Nro Mes ┆ Ventas     │
│ ---     ┆ ---        │
│ i8      ┆ f32        │
╞═════════╪════════════╡
│ 1       ┆ 566.964722 │
│ 2       ┆ 658.960327 │
│ 3       ┆ 646.200684 │
│ 4       ┆ 516.97522  │
│ 5       ┆ 603.906555 │
│ 6       ┆ 609.283203 │
└─────────┴────────────┘